// compass config
$support-for-original-webkit-gradients: false;

// bootstrap
$screen-small: 1px;
$baseFontSize: 14pt;
$baseBorderRadius: 0;
$bodyBackground: hsl(0,3%,95%);

// paths 
$fontAwesomePath: "./fonts";

$grayLight:             #ddd;
$grayLighter:           #eee;
$border-color:          $grayLight;

$primary-color: #6B0000;

@import "compass/css3";
@import "hidpi";

// Core variables and mixins
@import "bootstrap/bootstrap";

// for progress indicator of strokes
@import "strokes";

// han.css
$han-font-woff:  './fonts/han.woff';
$han-font-otf:   './fonts/han.otf';
@import "han";

// @font-face
@import "font-awesome";
@import "ff";

// Unicode PUA and IDC glyphs
@import "glyph";

// theme
@import "theme";
@import "pref";
@import "result";

// Twitter timeline and Google Search Index
@import "widget";


















body { font-size: 14pt }
