.DS_Store
.sass-cache/
a
c
h
t
a.txt
c.txt
h.txt
t.txt
pack/
pcck/
phck/
ptck/
ios/MoeDict.xcodeproj/project.xcworkspace/xcuserdata
fire_app_log.txt
node_modules/
npm-debug.log

lenToRegex.*.json
prefix.json
dict-csld.json
dict-hakka.json
dict-revised.pua.json
dict-revised.unicode.json
dict-twblg-ext.json
dict-twblg.json
translation-data/cedict.txt
translation-data/cfdict.txt
translation-data/handedict.txt
translation-data/moe-translation.json
moedict-data-csld/
moedict-data-hakka/
moedict-data-twblg/
moedict-data/
moedict-epub/