!!! 5
html(lang='zh-Hant', xml:lang='zh-Hant')
  head
    meta(charset='utf-8')
    title 萌典
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi')
    meta(content='IE=edge,chrome=IE9', http-equiv='X-UA-Compatible')
    meta(name='description', content='收錄十六萬筆國語、一萬六千筆臺語條目，每個字詞都可以輕按連到說明，並提供 Android 及 iOS 離線版。來源為教育部「重編國語辭典（修訂本）」及「臺灣閩南語常用詞辭典」，辭典本文的著作權仍為教育部所有。')
    link(rel='apple-touch-icon', href='icon.png')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(href='styles.css', rel='stylesheet')
    link(href='css/cupertino/jquery-ui-1.10.2.custom.css', rel='stylesheet')
    //if !IE
    script(src='cordova.js', data-cfasync='true')
    // <![endif]
    script(src='js/jquery-1.9.1.min.js')
    script(src='js/jquery-ui-1.10.2.custom.min.js')
    script(src='js/jquery.hoverIntent.js')
    script(src='js/bootstrap/dropdown.js')
    script(src='js/simp-trad.js', charset='utf-8')
    script(src='main.js', charset='utf-8')
  body#moedict.main(onhashchange='grokHash()')
    noscript: main: dl
      dt: a(href='萌') 萌 ㄇㄥˊ
      dd: 草木初生的芽。
      dt: a(href='典') 典 ㄉㄧㄢˇ
      dd: 可作為依據或模範的書。
    .nav-bg.navbar-fixed-top
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .navbar-header
        a.navbar-brand.brand.ebas(href='./') 萌典
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.icon-book &nbsp;
            span.lang-active(style='margin: 0; padding: 0;') 國語辭典
            b.caret
          ul.dropdown-menu(role='navigation')
            li(role='presentation')
              a.lang-option.a(role='menuitem', href='#萌') 國語辭典
            li.dropdown-submenu
              a.a.taxonomy(href='#') …分類索引
            li(role='presentation')
              a.lang-option.a.a-idiom(href='#@') …部首表
            li(role='presentation')
              a.lang-option.t(role='menuitem', href='#!') 臺灣閩南語
            li.dropdown-submenu
              a.t.taxonomy(href='#') …分類索引
            li(role='presentation')
              a.lang-option.t.t-idiom(href='#!=諺語') …諺語
            li(role='presentation')
              a.lang-option.h(role='menuitem', href='#:') 臺灣客家語
            li(role='presentation')
              a.lang-option.h.h-idiom(href='#:=諺語') …諺語
            li(role='presentation')
              a.lang-option.c(role='menuitem', href='#~') 兩岸詞典
            li.dropdown-submenu
              a.c.taxonomy(href='#') …分類索引
            li(role='presentation')
              a.lang-option.c.c-idiom(href='#~@') …部首表
        li#btn-starred
          a(style='padding-left: 5px; padding-right: 5px', href='#=*')
            i.icon-bookmark-empty
        //if !IE
        li
          form#lookback.back(target='_blank', accept-charset='big5', action='http://dict.revised.moe.edu.tw/cgi-bin/newDict/dict.sh', style='display: none; margin: 0; padding: 0')
            input(type='hidden', name='idx', value='dict.idx')
            input(type='hidden', name='fld', value='1')
            input(type='hidden', name='imgFont', value='1')
            input(type='hidden', name='cat', value='')
            input#cond(type='hidden', name='cond', value='^萌$')
            input.iconic-circle(type='submit', value='反', title='反查來源（教育部國語辭典）', style='font-family: EBAS; margin-top: 12px; border-radius: 20px; border: 0px;')
        // <![endif]
        li.resize-btn.app-only(style='position: absolute; top: 2px; left: 8em; padding: 3px')
          a(style='padding-left: 5px; padding-right: 5px; margin-right: 30px', href='#', onclick='adjustFontSize(-1); return false')
            i.icon-resize-small
        li.resize-btn.app-only(style='position: absolute; top: 2px; left: 8em; padding: 3px; margin-left: 30px;')
          a(style='padding-left: 5px; padding-right: 5px', href='#', onclick='adjustFontSize(1); return false')
            i.icon-resize-full
      ul.nav.pull-right.hidden-xs
        li
          a(href='#', onclick='pressAbout(); return false', title='關於本站')
            span.iconic-circle: i.icon-info
      ul.nav.pull-right.hidden-xs
        li.web-inline-only(style='display: inline-block')
          a(href='https://twitter.com/moedict', target='_blank', title='萌典 Twitter', style='color: #ccc')
            i.icon-twitter-sign
        li.web-inline-only(style='display: inline-block')
          a(href='https://play.google.com/store/apps/details?id=org.audreyt.dict.moe', target='_blank', title='Google Play 下載', style='color: #ccc')
            i.icon-android
        li.web-inline-only(style='display: inline-block')
          a(href='https://itunes.apple.com/tw/app/meng-dian/id599429224', target='_blank', title='App Store 下載', style='color: #ccc')
            i.icon-apple
                          
    .results
      #strokes(style='display: none')
      #result.result
        center(style='font-size: 30px; margin-top: 40px; margin-bottom: 40px')
          span#loading
          br
          br
          img.logo(title='〔萌典〕', src='images/icon.png', width='100')
          br
          br
          span#F9868(style='font-family: "MOEDICT"; margin-botom: 40px')
          i.icon-spinner
      a#sendback.btn.btn-default.small(title='送回編修', style='margin-left: 50%; display: none; background: #333333; color: white', href='mailto:xldictionary@gmail.com?subject=編修建議&body=出處及定義：', target='_blank') 送回編修
      // a.visible-xs.pull-left.ebas(href='about.html', title='關於本站', onclick='pressAbout(); return false') 萌典
      a.visible-xs.pull-left.ebas.btn.btn-default(href='#', onclick='pressAbout(); return false', title='關於本站', style='float: left; margin-top: -10px; margin-left: 5px')
        span.iconic-circle: i.icon-info
        span  萌典
      .share(style='float: right; margin-top: -10px; margin-right: 5px; margin-bottom: 15px')
        a#share-f.btn.btn-default.small(title='Facebook 分享', style='background: #3B579D; color: white', data-href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.moedict.tw%2F', target='_blank')
          i.icon-share &nbsp;
          i.icon-facebook
        a#share-t.btn.btn-default.small(title='Twitter 分享', style='background: #00ACED; color: white', data-href='https://twitter.com/share?text=__TEXT__&url=https%3A%2F%2Fwww.moedict.tw%2F', target='_blank')
          i.icon-share &nbsp;
          i.icon-twitter
        a#share-g.btn.btn-default.small(title='Google+ 分享', style='background: #D95C5C; color: white', data-href='https://plus.google.com/share?url=https%3A%2F%2Fwww.moedict.tw%2F', target='_blank')
          i.icon-share &nbsp;
          i.icon-google-plus
    #query-box.query-box
      input#query.query(type='search', style='display: none', autofocus='', autocomplete='off', placeholder='請輸入欲查詢的字詞')
    a.back-box.app-only(href='#', onclick='pressBack(); return false')
      i.icon-chevron-left(style='color: #6B0000')
    a.erase-box.mobile-only(href='#', onclick='pressErase(); return false')
      i.icon-remove-sign(style='color: #c0c0c0', title='清除搜尋框')
    #moe(style='display: none')
