@charset "UTF-8";

@import "han";
@import "han.fonts";

$grayLight:             #ddd;
$grayLighter:           #eee;
$border-color:          $grayLight;

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'TWBLG';
    src: url('TWBLG.ttf') format("truetype");
}


@font-face {
    font-family: 'HANNOMmoesubset-Regular';
    src: url('HannomMoeSubset.ttf') format("truetype");
}


body {
    background: #eeeeee url("background.jpg");
    font-family: "Biaodian Pro Sans CNS", sans-serif, "TWBLG", "HANNOMmoesubset-Regular", "MOESongUN", "教育部標準宋體UN", "全字庫正宋體", "TW-Sung-98_1", "教育部標準宋體", "CMEXa1", "新細明體", "PMingLiU", "MingLiU", "全字庫正楷體", "TW-Kai-98_1", "教育部標準楷書", "kai-pc", "CMEXc1", "標楷體", "BiauKai", "DFKaiShu-SB-Estd-BF", sans-serif, "HAN NOM A", "HAN NOM B";
    font-size: 14pt;
    line-height: 140%;
    margin: 10px;
    &.lang-t {
        background: #744;
    }
    &.cordova {
        font-family: "Biaodian Pro Sans CNS", "HANNOMmoesubset-Regular", "MOESongUN", "教育部標準宋體UN", "全字庫正宋體", "TW-Sung-98_1", "教育部標準宋體", "CMEXa1", "新細明體", "PMingLiU", "MingLiU", "全字庫正楷體", "TW-Kai-98_1", "教育部標準楷書", "kai-pc", "CMEXc1", "標楷體", "BiauKai", "DFKaiShu-SB-Estd-BF", sans-serif, "HAN NOM A", "HAN NOM B";
        &.lang-t {
            font-family: "Biaodian Pro Sans CNS", "TWBLG", "MOESongUN", "教育部標準宋體UN", "全字庫正宋體", "TW-Sung-98_1", "教育部標準宋體", "CMEXa1", "新細明體", "PMingLiU", "MingLiU", "全字庫正楷體", "TW-Kai-98_1", "教育部標準楷書", "kai-pc", "CMEXc1", "標楷體", "BiauKai", "DFKaiShu-SB-Estd-BF", sans-serif, "HAN NOM A", "HAN NOM B";
        }
    }
    &.lang-t {
        .title, &.cordova .title {
            font-family: "TWBLG", "MOESongUN", "教育部標準宋體UN", "全字庫正宋體", "TW-Sung-98_1", "教育部標準宋體", "CMEXa1", "新細明體", "PMingLiU", "MingLiU", "全字庫正楷體", "TW-Kai-98_1", "教育部標準楷書", "kai-pc", "CMEXc1", "標楷體", "BiauKai", "DFKaiShu-SB-Estd-BF", sans-serif, "HAN NOM A", "HAN NOM B";
        }
    }
}

.title {
    font-size: 185%;
    line-height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 501;
    font-family: "MOESongUN", "教育部標準宋體UN", "全字庫正宋體", "TW-Sung-98_1", "教育部標準宋體", "CMEXa1", "新細明體", "PMingLiU", "MingLiU", "全字庫正楷體", "TW-Kai-98_1", "教育部標準楷書", "kai-pc", "CMEXc1", "標楷體", "BiauKai", "DFKaiShu-SB-Estd-BF", sans-serif, "HANNOMmoesubset-Regular", "HAN NOM A", "HAN NOM B";
}

.bopomofo, .radical {
    font-weight: 501;
    font-family: "MOESongUN", "教育部標準宋體UN", "全字庫正宋體", "TW-Sung-98_1", "教育部標準宋體", "CMEXa1", "新細明體", "PMingLiU", "MingLiU", "全字庫正楷體", "TW-Kai-98_1", "教育部標準楷書", "kai-pc", "CMEXc1", "標楷體", "BiauKai", "DFKaiShu-SB-Estd-BF", sans-serif, "HANNOMmoesubset-Regular", "HAN NOM A", "HAN NOM B";
}

body.lang-t {
    .bopomofo, .radical {
        font-family: "MOESongUN", "教育部標準宋體UN", "全字庫正宋體", "TW-Sung-98_1", "教育部標準宋體", "CMEXa1", "新細明體", "PMingLiU", "MingLiU", "全字庫正楷體", "TW-Kai-98_1", "教育部標準楷書", "kai-pc", "CMEXc1", "標楷體", "BiauKai", "DFKaiShu-SB-Estd-BF", sans-serif, "TWBLG", "HAN NOM A", "HAN NOM B";
    }
}

h1 audio {
    vertical-align: bottom;
    margin-left: 20px;
    width: 50px;
}

h3 {
    font-size: 100%;
}

a {
    color: black !important;
    text-decoration: none !important;
    &:hover, &:focus {
        background: url("css/cupertino/images/ui-bg_glass_100_e4f1fb_1x400.png") repeat-x scroll 50% 50% #e4f1fb;
        color: #0070A3;
        outline: 1px solid #74B2E2 !important;
        border-radius: 6px;
    }
    &.erase:hover, &.lang:hover {
        background: #ddd;
        outline: none !important;
        border: none;
        border-radius: 30px;
    }
}

.part-of-speech a {
    &:hover, &:focus {
        background: none !important;
        color: inherit;
        outline: none !important;
    }
}

.radical {
    position: absolute;
    text-align: right;
    right: 24px;
    top: 36px;
    .count {
        font-family: "Ubuntu Mono", Menlo, Monaco, Consolas, 'American Typewriter', 'Courier New', monospace;
    }
}

.part-of-speech a {
    color: white !important;
    &:hover, &:focus {
        color: white;
        background: #aaf;
        text-decoration: none;
        border-radius: 5px;
    }
}

center {
    padding: 15px;
}

#result {
    box-shadow: 1px 1px 3px 0px #999999;
    border: 1px solid $border-color;
    margin-bottom: 4em;
    padding: 5px 10px;
    height: auto;
    background: #ffffff;
    border-radius: 10px;
    word-break: break-all;
}

.prefer-down-false #result {
    margin-bottom: 0;
    margin-top: 62px;
}

@media only screen and (min-width: 768px) {
    #result {
        margin-left: 340px;
    }
}

@media only screen and (min-width: 768px) {
    .prefer-down-false #result {
        margin-top: 0px;
    }
}

body.overflow-scrolling-false {
    #query-box, img.info {
        position: absolute;
    }
}

#query-box {
    position: fixed;
    bottom: 5px;
    right: 60px;
    left: 10px;
}

.prefer-down-false #query-box {
    top: 5px;
    bottom: auto;
}

@media only screen and (max-width: 767px) {
    .info {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .prefer-down-false .radical {
        top: 96px;
    }
}

@media only screen and (max-width: 767px) {
    .prefer-down-false img.back {
        position: fixed;
        bottom: auto;
        top: 0px;
        left: 0px;
        width: 60px;
        height: 60px;
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .prefer-down-false img.down {
        position: fixed;
        bottom: auto;
        top: 0px;
        left: 0px;
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .prefer-down-false img.info {
        position: fixed;
        bottom: auto;
        top: 0px;
        right: 0px;
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .erase, .lang {
        display: block;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .prefer-down-false {
        .erase, .lang {
            top: 0px;
            bottom: auto;
        }
    }
}

@media only screen and (min-width: 768px) {
    .erase, .lang {
        display: block;
        position: fixed;
        top: 0px;
        left: 280px;
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .ios #query-box {
        left: 60px;
    }
}

@media only screen and (min-width: 768px) {
    #query-box {
        top: 10px;
        left: 10px;
        right: auto;
        width: 270px;
    }
}

#query {
    height: 36pt;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.bopomofo {
    display: table;
    margin-top: -14px;
    padding-bottom: 5px;
    margin-right: 24px;
    margin-bottom: 10px;
    color: #666;
    font-size: 90%;
    width: 100%;
    border-bottom: 1px dotted $border-color;
    word-break: normal !important;
}

body {
    &.overflow-scrolling-false.lang-t .pinyin {
        font-family: 'TWBLG';
    }
    &.lang-t .pinyin {
        font-family: 'Segoe UI', 'Charis SIL', 'TWBLG', 'Roboto', 'Arial Unicode MS', 'Candara', 'Ubuntu', 'Arial', 'Helvetica', sans-serif;
    }
}

.pinyin {
    word-break: normal !important;
    font-family: "Georgia", "American Typewriter", sans-serif;
}

.prefer-pinyin-false .bopomofo .bpmf {
    text-align: left;
    vertical-align: top;
}

.prefer-pinyin-true .bopomofo {
    .pinyin {
        text-align: left;
        vertical-align: top;
    }
    .bpmf {
        text-align: right;
        vertical-align: top;
        cursor: w-resize;
    }
}

.prefer-pinyin-false .bopomofo .pinyin {
    text-align: right;
    vertical-align: top;
    cursor: w-resize;
}

.bopomofo {
    .bpmf {
        width: 65%;
        display: inline-block;
    }
    .pinyin {
        width: 35%;
        display: inline-block;
    }
}

.prefer-pinyin-true .bopomofo .pinyin {
    float: left;
}

.prefer-pinyin-false .bopomofo .pinyin {
    float: right;
}

.prefer-pinyin-true .bopomofo .bpmf:hover, .prefer-pinyin-false .bopomofo .pinyin:hover {
    background: #ffe;
}

span .tone {
    position: relative;
    float: right;
    left: 10px;
    top: -6px;
    font-size: 120%;
}

body.lang-t {
    .radical .glyph, .bpmf {
        font-family: "TWBLG", "MOESongUN", "教育部標準宋體UN", "全字庫正宋體", "TW-Sung-98_1", "教育部標準宋體", "CMEXa1", "新細明體", "PMingLiU", "MingLiU", "全字庫正楷體", "TW-Kai-98_1", "教育部標準楷書", "kai-pc", "CMEXc1", "標楷體", "BiauKai", "DFKaiShu-SB-Estd-BF", sans-serif, "HAN NOM A", "HAN NOM B";
    }
}

.radical {
    .glyph {
        margin-right: 0.2em;
        font-family: "HANNOMmoesubset-Regular", "MOESongUN", "教育部標準宋體UN", "全字庫正宋體", "TW-Sung-98_1", "教育部標準宋體", "CMEXa1", "新細明體", "PMingLiU", "MingLiU", "全字庫正楷體", "TW-Kai-98_1", "教育部標準楷書", "kai-pc", "CMEXc1", "標楷體", "BiauKai", "DFKaiShu-SB-Estd-BF", sans-serif, "HAN NOM A", "HAN NOM B";
        padding-bottom: 4px;
    }
    .sym {
        margin-left: 0.2em;
        padding-right: 0.2em;
    }
}

.part-of-speech, .glyph {
    color: white;
    background-color: #555;
    border-radius: 3px;
    padding: 1px 2px 1px 2px;
    /*border: 1px solid black;*/
    font-size: 100%;
}

img {
    &.logo {
        border-radius: 5px;
        box-shadow: 1px 1px 3px 0px #999999;
        max-height: 100px;
        max-width: 100px;
    }
    &.quit {
        position: fixed;
        top: 10pt;
        right: 10pt;
    }
}

.android {
    .info, .back {
        display: none !important;
        right: -999px !important;
        bottom: -999px !important;
    }
}

.cordova #opening {
    display: none !important;
}

img {
    &.info {
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 60px;
        height: 60px;
    }
    &.back, &.down {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 60px;
        height: 60px;
    }
    &.back {
        display: none;
    }
}

.cordova img.down {
    display: none;
}

input.back {
    position: fixed;
    display: none;
    bottom: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
}

body.overflow-scrolling-false .ui-autocomplete {
    max-height: 10000px !important;
    bottom: auto !important;
    position: absolute !important;
}

.ui-autocomplete {
    &.invisible {
        display: none !important;
    }
    overflow: auto;
    top: auto !important;
    height: auto !important;
    position: fixed !important;
    bottom: 52px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.prefer-down-false .ui-autocomplete {
    top: 54px !important;
    bottom: auto !important;
}

@media only screen and (min-width: 768px) {
    .ui-autocomplete.invisible {
        display: block !important;
    }
}

@media only screen and (min-width: 768px) {
    .ui-autocomplete {
        display: block !important;
        top: 62px !important;
        bottom: auto !important;
        left: 10px !important;
        width: 320px !important;
        overflow: auto !important;
        max-height: 80% !important;
    }
}

@media only screen and (min-width: 768px) {
    input.back {
        display: block;
    }
}

.ui-autocomplete li {
    font-family: "MOESongUN", "教育部標準宋體UN", "全字庫正宋體", "TW-Sung-98_1", "教育部標準宋體", "CMEXa1", "新細明體", "PMingLiU", "MingLiU", "全字庫正楷體", "TW-Kai-98_1", "教育部標準楷書", "kai-pc", "CMEXc1", "標楷體", "BiauKai", "DFKaiShu-SB-Estd-BF", sans-serif, "TWBLG", "HAN NOM A", "HAN NOM B";
}

body.lang-a.web #lookback {
    display: block !important;
}

.ios ::-webkit-scrollbar, .web ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.ios ::-webkit-scrollbar-thumb, .web ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.cordova .ui-autocomplete {
    max-height: 75% !important;
}

.example {
    .mandarin:before {
        content: "（";
    }
    .ruby {
        .ruby .rb {
            text-align: left;
            display: inline-block;
        }
        .rt {
            font-size: 70%;
            clear: both;
            width: auto;
            text-align: left;
            white-space: nowrap;
        }
    }
    .mandarin {
        &:after {
            content: '）';
        }
        font-size: 90%;
        text-align: left;
        width: auto;
    }
    .ruby {
        text-align: left;
        display: inline-block;
        width: auto;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    font-size: 92%;
}

body.lang-t .example {
    font-size: 100%;
    display: inline-block;
    clear: both;
    width: auto;
    border: 1px solid $border-color;
    padding: 3px;
    background: #eee;
    margin-right: 10px;
    margin-bottom: 2px;
    vertical-align: top;
}

.quote {
    clear: both;
    display: block;
    font-size: 92%;
}

.antonyms, .synonyms {
    clear: both;
    display: block;
    font-size: 85%;
    margin-top: 2px;
}

.xrefs {
    border-top: 3px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

.xref-line {
    padding: 10px;
    border-bottom: 1px solid $border-color;
    .part-of-speech {
        margin-right: 5px;
    }
}

.link {
    clear: both;
    display: block;
}

.def {
    clear: both;
    display: block;
    margin-bottom: 2pt;
}

.lang-t .example b {
    background: #ffd;
    border-radius: 5px;
}

span {
    b {
        font-weight: normal;
        border-bottom: 1px solid $border-color !important;
    }
    a:hover b, b:hover {
        background: #f0f0f0;
    }
    a {
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.about a {
    border-bottom: 1px ridge #0070a3;
}

.entry {
    padding-bottom: 5px;
    border-bottom: 1px ridge #dddddd;
}

.ui-tooltip {
    &.bpmf {
        font-size: 80%;
        width: auto;
        min-width: auto;
        background: #f0f0f0;
    }
    .xrefs {
        display: none;
    }
    .part-of-speech {
        position: absolute;
        left: 20px;
    }
    li {
        .part-of-speech {
            position: relative;
            left: 0px;
        }
        margin: 0;
        padding: 0;
    }
    .ol, .definition {
        margin: 0;
        padding: 0;
    }
    .entry {
        border-bottom: none;
        font-size: 80%;
    }
    min-width: 300px;
    width: 300px;
    max-height: 300px;
    overflow: hidden;
    word-break: break-all;
    .bopomofo {
        margin: 0px;
        padding: 0px;
        font-size: 75%;
    }
    .title, .example {
        display: none;
    }
}

body.lang-t .ui-tooltip .example {
    display: none;
}

.ui-tooltip {
    .quote, .antonyms, .synonyms, .radical {
        display: none;
    }
}

#gcfbar {
    padding: 0 !important;
    position: fixed !important;
    a {
        color: #00a !important;
    }
}

#gcfupdate {
    margin: 5px;
}

#gcfclose {
    margin: 3px;
}

.punct {
    white-space: nowrap;
    display: inline-block;
}
